openapi: 3.0.0

info:
  title: Пример API для работы с пользователями
  description: API для создания, получения, обновления и удаления пользователей.
  version: 1.0.0

security:
  - api_key: []

servers:
  - url: https://api.documentat.io/api/prod
    description: Основной сервер
  - url: https://api.documentat.io/api/dev
    description: Тестовый сервер

paths:
  /users:
    get:
      summary: Получить список всех пользователей
      operationId: usersGET
      tags:
        - users
      parameters:
        - name: limit
          in: query
          required: false
          description: Максимальное количество элементов на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          $ref: '#/components/responses/UserListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Создать нового пользователя
      operationId: usersPOST
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          $ref: '#/components/responses/UserCreationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /users/{id}:
    get:
      summary: Получить информацию о пользователе по ID
      operationId: usersIdGET
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: "Полностью обновить данные пользователя"
      operationId: usersIdPUT
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      summary: "Частично обновить данные пользователя"
      operationId: usersIdPATCH
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUserUpdate'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Удалить пользователя
      operationId: usersIdDELETE
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '204':
          $ref: '#/components/responses/UserDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-zA-Z0-9_\-]+$'
          description: Уникальное имя пользователя в системе (от 3 до 20 символов).
            Разрешены только латинские буквы, цифры, дефис и нижнее подчеркивание
          example: "ivan_ivanov"
        email:
          type: string
          minLength: 5
          maxLength: 100
          format: email
          description: Адрес электронной почты пользователя
          example: "ivan@example.com"
        firstName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Имя пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivan"
        lastName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Фамилия пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivanov"
        address:
          type: object
          description: Физический адрес проживания пользователя
          properties:
            country:
              type: string
              minLength: 2
              maxLength: 50
              description: Страна проживания
              example: "Russia"
            city:
              type: string
              minLength: 2
              maxLength: 50
              description: Город
              example: "Moscow"
            street:
              type: string
              minLength: 2
              maxLength: 50
              description: Улица
              example: "Pushkino street"
            house:
              type: string
              minLength: 2
              maxLength: 50
              pattern: '^[0-9]+[a-zA-Zа-яА-ЯёЁ]*(\/[0-9]+)?$'
              description: Номер дома. Разрешены цифры, буквы (корпус) и дробь
                (например, 32, 32а, 32/1).
              example: "32"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          minimum: 0
          description: Возраст пользователя
          example: "21"
        isEmployee:
          type: boolean
          default: true
          description: Флаг, определяющий, является ли пользователь сотрудником
          example: true
        accountStatus:
          type: string
          description: Статус учетной записи пользователя
          default: "active"
          enum:
            - active
            - inactive
            - suspended
          example: active

    CreateUser:
      type: object
      required:
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-zA-Z0-9_\-]+$'
          description: Уникальное имя пользователя в системе (от 3 до 20 символов).
            Разрешены только латинские буквы, цифры, дефис и нижнее подчеркивание
          example: "ivan_ivanov"
        email:
          type: string
          minLength: 5
          maxLength: 100
          format: email
          description: Адрес электронной почты пользователя
          example: "ivan@example.com"
        firstName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Имя пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivan"
        lastName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Фамилия пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivanov"
        address:
          type: object
          description: Физический адрес проживания пользователя
          properties:
            country:
              type: string
              minLength: 2
              maxLength: 50
              description: Страна проживания
              example: "Russia"
            city:
              type: string
              minLength: 2
              maxLength: 50
              description: Город
              example: "Moscow"
            street:
              type: string
              minLength: 2
              maxLength: 50
              description: Улица
              example: "Pushkino street"
            house:
              type: string
              minLength: 2
              maxLength: 50
              pattern: '^[0-9]+[a-zA-Zа-яА-ЯёЁ]*(\/[0-9]+)?$'
              description: Номер дома. Разрешены цифры, буквы (корпус) и дробь
                (например, 32, 32а, 32/1).
              example: "32"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          minimum: 0
          description: Возраст пользователя
          example: "21"
        isEmployee:
          type: boolean
          default: true
          description: Флаг, определяющий, является ли пользователь сотрудником
          example: true
        accountStatus:
          type: string
          description: Статус учетной записи пользователя
          default: "active"
          enum:
            - active
            - inactive
            - suspended
          example: active

    PartialUserUpdate:
      type: object
      description: Схема для частичного изменения данных. Все поля опциональны.
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-zA-Z0-9_\-]+$'
          description: Уникальное имя пользователя в системе (от 3 до 20 символов).
            Разрешены только латинские буквы, цифры, дефис и нижнее подчеркивание
          example: "ivan_ivanov"
        email:
          type: string
          minLength: 5
          maxLength: 100
          format: email
          description: Адрес электронной почты пользователя
          example: "ivan@example.com"
        firstName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Имя пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivan"
        lastName:
          type: string
          minLength: 2
          maxLength: 50
          pattern: '^[a-zA-Zа-яА-ЯёЁ\s\-]+$'
          description: Фамилия пользователя. Разрешены только буквы (латиница/кириллица), пробелы и дефис.
          example: "ivanov"
        address:
          type: object
          description: Физический адрес проживания пользователя
          properties:
            country:
              type: string
              minLength: 2
              maxLength: 50
              description: Страна проживания
              example: "Russia"
            city:
              type: string
              minLength: 2
              maxLength: 50
              description: Город
              example: "Moscow"
            street:
              type: string
              minLength: 2
              maxLength: 50
              description: Улица
              example: "Pushkino street"
            house:
              type: string
              minLength: 2
              maxLength: 50
              pattern: '^[0-9]+[a-zA-Zа-яА-ЯёЁ]*(\/[0-9]+)?$'
              description: Номер дома. Разрешены цифры, буквы (корпус) и дробь
                (например, 32, 32а, 32/1).
              example: "32"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          minimum: 0
          description: Возраст пользователя
          example: "21"
        isEmployee:
          type: boolean
          default: true
          description: Флаг, определяющий, является ли пользователь сотрудником
          example: true
        accountStatus:
          type: string
          description: Статус учетной записи пользователя
          default: "active"
          enum:
            - active
            - inactive
            - suspended
          example: active

    error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Внутренний код ошибки приложения
          example: 404
        message:
          type: string
          description: Текстовое описание ошибки для разработчика
          example: "Error 404. Пользователь не найден"

  responses:
    UserListSuccess:
      description: Список пользователей успешно получен
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'

    Success:
      description: Данные успешно получены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserCreationSuccess:
      description: Пользователь успешно создан
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserUpdateSuccess:
      description: Данные пользователя успешно обновлены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserDeleteSuccess:
      description: Пользователь успешно удален

    UserNotFound:
      description: Error 404. Пользователь не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    Unauthorized:
      description: Error 401. Доступ запрещен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    Conflict:
      description: Error 409. Пользователь уже существует
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    MethodNotAllowed:
      description: Error 405. Метод не поддерживается
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    ServerError:
      description: Error 500. Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    UnprocessableEntity:
      description: Error 422. Переданное тело запроса нарушает правила валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

  securitySchemes:
    api_key:
      type: apiKey
      name: Token
      in: header

tags:
  - name: users
    description: Операции с пользователями